@import "./varibalse.scss";
.header {
  background: #ffffff;
  &__container {
    min-height: 68px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
  }
  &__logo {
  }
  &__menu {
  }
  .menu {
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      &:not(:last-child) {
        margin: 0 40px 0 0;
      }
    }
    &__link {
      color: $text-color;
    }
  }
}
/*----------------main-------------------------------*/
.page {
  flex: 1 1 auto;
  margin-bottom: 30px;
  &__main--block {
  }
  .main--block {
    &__container {
      box-sizing: content-box;
      padding: 0 15px;
    }
    &__title {
      margin: 0 auto;
      font-family: Circe-ExtraBold;
      padding: 104px 0 0 0;
      font-size: 46px;
      line-height: 130%;
      text-align: center;
      color: $text-color;
      max-width: 574px;
      span {
        color: rgb(243, 69, 26);
      }
    }
    &__content {
    }
    .content {
      margin: 112px 0 0 0;
      &__card {
      }
      .two-card {
        padding-top: 30px;
      }
      .card {
        display: flex;
        margin: 0 -30px;

        .card__block {
          flex: 0 1 33.333%;
          padding: 0 30px;
        }

        .two-card__block {
          flex: 0 1 50%;
          padding: 0 30px;
        }
        &__column {
          background: #ffffff;
          box-shadow: 0px 10px 60px rgba(0, 14, 75, 0.1);
          border-radius: 10px;
          padding: 30px;
          // & > * {
          //   margin-bottom: 20px;
          // }
        }

        &__img {
          width: 100%;

          margin-bottom: 20px;
        }
        &__title {
          font-size: 22px;
          font-family: Circe-ExtraBold;
          line-height: 136%;
          color: $text-color;
          margin-bottom: 10px;
        }
        &__text {
          font-family: "Open Sans", sans-serif;
          font-weight: normal;
          font-size: 16px;
          line-height: 170%;
          color: rgba(0, 14, 75, 0.85);
        }
      }
    }
  }
}
/*-------------footer----------------------------------------*/
.footer {
  margin-bottom: 30px;
  &__container {
    box-sizing: content-box;
    padding: 0 15px;

    &::before {
      content: "";
      display: block;
      max-width: 100%;
      height: 1px;
      margin-bottom: 30px;
      background: #000e4b;
      opacity: 0.1;
    }
  }
  &__bottom {
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__social {
    display: flex;
    align-items: center;
    .social__link {
      &:not(:last-child) {
        margin-right: 27px;
      }
    }
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;

    color: #000e4b;

    opacity: 0.3;
  }
}
/*-------------------Адаптив----------------------------------------------------*/
@media (max-width: 768px) {
  .card__column {
    img {
      width: 149.33px;
      height: 127px;
      object-fit: cover;
    }
    ._img {
      width: 269px;
      height: 149px;
    }
  }
  .card__text {
    font-size: 13px !important;
  }
}
@media (max-width: 577px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card__block {
    flex: 0 1 100% !important;
    margin-bottom: 30px;
  }
  .two-card__block {
    flex: 0 1 100% !important;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .two-card {
    padding-top: 0 !important;
  }
  .footer__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__text {
    margin-top: 21.88px !important;
  }
}
@media (max-width: 376px) {
  .card__column {
    img {
      width: 255px;
      height: 149px;
    }
  }
}
/*-----------------Бургер------------------------------*/
.menu__icon {
  display: none;
}
@media (max-width: 565px) {
  .page .main--block .content .card:first-child {
    margin-top: 400px !important;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 19px;
    height: 14px;
    cursor: pointer;

    &::before,
    &::after,
    span {
      left: 0;
      position: absolute;
      height: 14.3%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background: #000e4b;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .menu__body {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    transition: all 0.3s ease 0s !important;
  }

  .menu__list > li {
    margin: 0 0 0 0 !important;
    text-align: center;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list {
    position: relative !important;
    background-color: #fff;

    display: none !important;
  }
  .menu__body.active .menu__list {
    display: block !important;
  }
  .menu__icon.active span {
    transform: scale(0);
  }
  .main--block__title.active {
    display: none !important;
  }
  .menu__icon.active::before {
    transform: rotate(45deg);
    top: 7px;
  }
  .menu__icon.active::after {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .menu__item {
    padding: 20px 0;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      z-index: 5;
      position: absolute;
      background: #000e4b;
      opacity: 0.1;
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      z-index: 5;
      position: absolute;
      background: #000e4b;
      opacity: 0.1;
    }
  }
}
